body, html {
    height:100%;
}
*{
    box-sizing: border-box;
    font-family: monospace;
    font-style: italic;
}
#bg-image {
    background-image: url('./bg.jpg');

    filter:blur(5px);
    -webkit-filter: blur(5px);

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#borderline {
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    height:95%;
    width:90%;
    padding:20px;

    border:3px solid green;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#content {
    color:white;
    font-weight: bold;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding:20px;
    text-align: center;
}
.tab {
    background-color: transparent;
    border:1px solid green;
    color:white;
}